<div id="profile_section">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h3>Local</h3>
                <p>
                    <strong>id</strong>:<%= user._id %>
                <br>
                    <strong>username</strong>:<%= user.local.username %>
                <br>
                    <strong>email</strong>:<%= user.local.email %>
                <br>
                    <strong>phone</strong>:<%= user.local.phone %>
                </p>
            </div>
        </div>

        <div class="col-md-6">

            <% if(user.local.newsletter != true){ %>
                
                <form method="POST" action="/newsletter/subscribe">
                    <h2>Newsletter</h2>
                    <p>Subscribe to our monthly newsletter where we will talk about new features and updates on the site.</p>
                    <input type="submit" value="Subscribe">
                </form>
            <% } else if (user.local.newsletter == true){ %>  
                <form method="POST" action="/newsletter/unsubscribe">
                    <h2>Newsletter</h2>
                    <p>Cancel your subscription to our monthly newsletter</p>
                    <input type="submit" value="Unsubscribe">
                </form>
            <% } %>
        </div>
    </div>
</div>