<div class="container">
        <div id="profile_header">
            
        </div>
        <div id="profile_section">
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        MY PROFILE
                        <h3>Local</h3>
                        <p>
                            <strong>id</strong>:
                            <%= page_data.user._id %>
                            <br>
                            <strong>username</strong>:
                            <%= page_data.user.local.username %>
                            <br>
                            <strong>email</strong>:
                            <%= page_data.user.local.email %>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>