<ul class="nav nav-tabs navbar-light">
    <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="/profile/favourites">Favourites</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/profile/movies">Movies</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="/profile/shows">Shows</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/profile/reviews">Reviews</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/profile/settings">Profile Settings</a>
    </li>
</ul>


