<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/cPanel/">
                <!-- <img src="resources/hi_fi_Logo.png" width="60" height="40" alt="" /> -->
                <h1>Admin Panel</h1>
            </a>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/cPanel/">Forside</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cPanel/events">Events</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>