<nav id="sidebar">
    <div class="sidebar-header">
        <h3>AdminPanel</h3>
        <strong>AP</strong>
        <p><%= user.local.username %></p>
    </div>

    <ul class="list-unstyled components">
        <!-- Go to index -->
        <li class="">
            <a href="/admin">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>

        <!-- Inbox dropdown -->
        <li class="">
            <a href="#inboxSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-inbox"></i>
                Inbox
            </a>
            <ul class="collapse list-unstyled" id="inboxSubmenu">
                <li class="">
                    <a href="/admin/contact">
                        <i class="fas fa-envelope-open"></i>
                        Contact messages
                    </a>
                </li>
                <li class="">
                    <a href="/admin/support">
                        <i class="fas fa-life-ring"></i>
                        Support
                    </a>
                </li>
                <li class="">
                    <a href="/admin/announcements">
                        <i class="fas fa-bullhorn"></i>
                        Announcements
                    </a>
                </li>
                <li class="">
                    <a href="/admin/reports">
                        <i class="fas fa-flag"></i>
                        Reports
                    </a>
                </li>
            </ul>
        </li>

        <!-- Go to user management -->
        <li class="">
            <a href="/admin/users">
                <i class="fas fa-users"></i>
                Users
            </a>
        </li>  

        <!-- Badges management -->
        <li class="">
            <a href="/admin/badges">
                <i class="fas fa-award"></i>
                Badges
            </a>
        </li>

        <!-- Other minor things -->
        <li class="">
            <a href="#otherSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-cog"></i>
                Other
            </a>
            <ul class="collapse list-unstyled" id="otherSubmenu">
                <li class="">
                    <a href="/admin/restrictedUrls">
                        <i class="fas fa-list"></i>
                        URL Restrictions
                    </a>
                </li>
                <li class="">
                    <a href="/admin/personas">
                        <i class="fas fa-user-ninja"></i>
                        Moderator nicknames
                    </a>
                </li>
            </ul>
        </li>

        <!-- return to website -->
        <li >
            <a href="/">
                <i class="fas fa-home"></i>
                Return to iWatched
            </a>
        </li>

        <!-- log out -->
        <li >
            <a href="/logout">
                <i class="fas fa-sign-out-alt"></i>
                Log out
            </a>
        </li>
    </ul>
</nav>
