<nav id="sidebar">
    <div class="sidebar-header">
        <h3>AdminPanel</h3>
        <strong>AP</strong>
        <p><%= user.local.username %></p>
    </div>

    <ul class="list-unstyled components">
        <!-- Go to index -->
        <li class="">
            <a href="/admin">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>

        <!-- Go to support management -->
        <li class="">
            <a href="/admin/support">
                <i class="fas fa-envelope"></i>
                Support
            </a>
        </li>

        <!-- Go to user management -->
        <li class="">
            <a href="/admin/users">
                <i class="fas fa-users"></i>
                Users
            </a>
        </li>  

        <!-- Other minor things -->
        <li class="">
            <a href="#otherSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-cog"></i>
                Other
            </a>
            <ul class="collapse list-unstyled" id="otherSubmenu">
                <li class="">
                    <a href="/admin/blacklist">
                        <i class="fas fa-list"></i>
                        URL Blacklist
                    </a>
                </li>
                <li>
                    <a href="/admin/securityQuestions">
                        <i class="fas fa-lock"></i>
                        Security Questions
                    </a>
                </li>
            </ul>
        </li>

        <!-- return to website -->
        <li >
            <a href="/">
                <i class="fas fa-home"></i>
                Return to iWatched
            </a>
        </li>

        <!-- log out -->
        <li >
            <a href="/logout">
                <i class="fas fa-sign-out-alt"></i>
                Log out
            </a>
        </li>
    </ul>
</nav>
