<!-- Include head.ejs -->
<% include .././partials/standard/head %>

<body>
    <!-- Header Navbar Start -->
        <!-- Include header.ejs -->
        <% include .././partials/standard/header %>
    <!-- Header Navbar End -->

    <!-- Content Area Start -->

    <div id="mainArticleContainer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            Forside
                        </div>

                        <div class="card-block">
                                
                        </div>

                        <div class="card-footer footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
    <!-- Content Area End -->

    <!-- Footer Start-->
        <!-- Include footer.ejs -->
        <% include .././partials/standard/footer %>
    <!-- Footer End-->
</body>

<!--include script.ejs-->
<% include .././partials/standard/scripts %>
</html>

