<!DOCTYPE html>
<html lang="en">

<% if (typeof page_data === 'undefined') { var page_data = {}; } %>
<!-- Includees all scripts -->
<% include partials/standard/scripts.ejs %>

<head>
    <!-- Includees head and styles -->
    <% include ./partials/standard/head.ejs %>
</head>

<body class="<%= (user && user.profile && user.profile.preferences && user.profile.preferences.show_quick_actions) ? 'pref-show-quick-actions' : '' %> th-has-header th-bg <%= (page_file === 'temp_home' && page_data && page_data.hide_features) ? 'home-hide-features' : '' %>">
    <!-- Includes Header -->
    <% include partials/standard/header.ejs %>

    <main id="content-wrapper" class="<%= page_file === 'profile' ? 'profile-page' : ((page_file === 'temp_home' || page_file === 'temp_home_dashboard') ? 'temp-home-wrapper' : (page_file === 'temp_user' ? 'temp-user-wrapper' : '')) %>">
        <%- include(`pages/${page_file}.ejs`) %>
    </main>
    <% include partials/standard/footer.ejs %>
    <% include partials/standard/recommend_modal.ejs %>
    <% if (typeof user === 'undefined' || !user) { %>
      <% include partials/standard/floating_cta.ejs %>
    <% } %>
</body>

   
</html>
