<!DOCTYPE html>
<html lang="en">

<% if (typeof page_data === 'undefined') { var page_data = {}; } %>
<!-- Includees all scripts -->
<% include partials/standard/scripts.ejs %>

<head>
    <!-- Includees head and styles -->
    <% include ./partials/standard/head.ejs %>
</head>

<body class="<%= (user && user.profile && user.profile.preferences && user.profile.preferences.show_quick_actions) ? 'pref-show-quick-actions' : '' %>">
    <!-- Includes Header -->
    <% if (page_file !== 'temp_home' && page_file !== 'temp_user' && page_file !== 'temp_announcements') { %>
      <% include partials/standard/header.ejs %>
    <% } %>

    <main id="content-wrapper" class="<%= page_file === 'profile' ? 'profile-page' : (page_file === 'temp_home' ? 'temp-home-wrapper' : (page_file === 'temp_user' ? 'temp-user-wrapper' : '')) %>">
        <%- include(`pages/${page_file}.ejs`) %>
    </main>
    
    <% if (page_file !== 'temp_home' && page_file !== 'temp_user' && page_file !== 'temp_announcements') { %>
      <% include partials/standard/footer.ejs %>
      <% include partials/standard/recommend_modal.ejs %>
    <% } %>
</body>

   
</html>
