<!DOCTYPE html>
<html lang="en">

<!-- Includees all scripts -->
<% include partials/standard/scripts.ejs %>

<head>
    <!-- Includees head and styles -->
    <% include ./partials/standard/head.ejs %>
</head>

<body>
    <!-- Includes Header -->
    <% include partials/standard/header.ejs %>

    <main id="content-wrapper" class="">
        <%- include(`pages/${page_file}.ejs`) %>
    </main>
    
    <% include partials/standard/footer.ejs %>
</body>

   
</html>