<footer style="margin-top: 30px;" class="container">
    <div class="dropdown-divider" style="margin: 30px 0px 30px 0px"></div>
    <div class="row">
        <div class="col-md-4">
            <ul class="navbar-nav mr-auto">
                <li class='nav-item'>
                    <a href="/" class='nav-link '>Home</a>
                </li>
                <li class='nav-item'>
                    <a href="/movies" class='nav-link'>Movies</a>
                </li>
                <li class='nav-item'>
                    <a href="/shows" class='nav-link'>Series</a>
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="navbar-nav mr-auto">
                <li class='nav-item'>
                    <a style="text-align: center" href="/faq" class='nav-link'>FAQ</a>
                </li>
                <li class='nav-item'>
                    <a style="text-align: center" href="/about" class='nav-link'>About</a>
                </li>
                <li class='nav-item'>
                    <a style="text-align: center" href="/contact" class='nav-link'>Contact</a>
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="navbar-nav mr-auto">
                <li class='nav-item'>
                    <a style="text-align: right" href="/policy/terms-of-service" class='nav-link'>Terms of Service</a>
                </li>
                <li class='nav-item'>
                    <a style="text-align: right"href="/policy/privacy" class='nav-link'>Privacy Policy</a>
                </li>
                <li class='nav-item'>
                    <a style="text-align: right"href="/policy/community" class='nav-link'>Community Policy</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
