<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= page_title %></title>

<!-- Aquire's all stylesheets -->
<link rel="stylesheet" type="text/css" href="/static/style/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/style/css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="/static/style/css/navigation.css">

<!-- Font Awesome JS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


<!-- google ads -->
<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7039031183645652",
    enable_page_level_ads: true
  });
</script> -->