<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">iWatched BETA</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class='nav-item'>
                        <a href="/" class='nav-link <% if(page_file == "index" ) { %> active <% } %>'>Home</a>
                    </li>
                    <li class='nav-item'>
                        <a href="/movies" class='nav-link <% if(page_file == "movies" ) { %> active <% } %>'>Movies</a>
                    </li>
                    <!-- <li class='nav-item'>
                        <a href="/shows" class='nav-link <% if(page_file == "shows" ) { %> active <% } %>'>Shows</a>
                    </li> -->
                    <!-- <li class='nav-item'>
                        <a href="/about" class='nav-link <% if(page_file == "about" ) { %> active <% } %>'>About</a>
                    </li> -->
                    <% if(typeof user != 'undefined') { %>
                        <li class='nav-item'>
                            <a href="/contact" class='nav-link <% if(page_file == "contact" ) { %> active <% } %>'>Contact</a>
                        </li>
                    <% } %>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <% if(typeof user != 'undefined'){ %>

                        <% if( user.permissions.level.admin == true || user.permissions.level.moderator == true ) { %>
                            <li class='nav-item'>
                                <a href="/admin/" class='nav-link %>'>Admin Panel</a>
                            </li>
                        <% } %>
                    
                    <li class="nav-item dropdown">
                        <a class='nav-link dropdown-toggle <% if(page_file == "profile" ) { %> active <% } %> ' href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <% if(user.profile.custom_url != "" && user.profile.custom_url != null) { %>
                                <a class="dropdown-item" href="/<%= user.profile.custom_url %>">My Profile</a>
                                <a class="dropdown-item" href="/<%= user.profile.custom_url %>/settings">Settings</a>
                            <% } else { %>
                                <a class="dropdown-item" href="/<%= user._id %>">My Profile</a>
                                <a class="dropdown-item" href="/<%= user._id %>/settings">Settings</a>
                            <% } %>

                            <a class="dropdown-item" href="/support">Support</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Log out</a>
                        </div>
                    </li>

                    <% } else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login" role="button">Login</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</header>