<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= title %></title>

<!-- Aquire's all stylesheets -->
<link rel="stylesheet" type="text/css" href="/static/style/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/style/css/login_formular.css">
<link rel="stylesheet" type="text/css" href="/static/style/css/stylesheet.css">


