<%
  var basePath = '/temp/' + page_data.user._id;
%>

<div class="profile-quicklinks container">
  <a class="quick-card" href="<%= basePath %>">
    <span class="quick-card__icon"><i class="fas fa-chart-line"></i></span>
    <span class="quick-card__text">Activity</span>
  </a>
  <a class="quick-card" href="<%= basePath %>/watched/movies">
    <span class="quick-card__icon"><i class="fas fa-film"></i></span>
    <span class="quick-card__text">Watched Movies</span>
  </a>
  <a class="quick-card" href="<%= basePath %>/favourite/movies">
    <span class="quick-card__icon"><i class="fas fa-heart"></i></span>
    <span class="quick-card__text">Favourites</span>
  </a>
  <a class="quick-card" href="<%= basePath %>/saved/movies">
    <span class="quick-card__icon"><i class="fas fa-bookmark"></i></span>
    <span class="quick-card__text">Saved Lists</span>
  </a>
</div>

