<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Includees head and styles -->
    <% include .././partials/standard/head %>
</head>

<body>
    <header class="container">
        <!-- Includes Header and Nav bar -->
        <% include .././partials/standard/header %>
    </header>
    
    <main class="container">
        <h1>About</h1>
        <p>Stuff here</p>
    </main>

    <footer class="container">
        <!-- Includes Footer -->
        <% include .././partials/standard/footer %>
    </footer>
</body>
    <!-- Includees all scripts -->
    <% include .././partials/standard/scripts %>
</html>