<div class="container">


    <div class="row">
        <div class="col-md-6">
            <h1>Home</h1>
            <p>
                Create an account to start keeping track of how many hours you have wasted
                on watching great movies and series
            </p>

        </div>
        <div class="col-md-6">
            <h1>News</h1>
            <p style="color: red">
                Please read
            </p>

            <p>
                This is a beta of the site with the purpose of getting user feedback
                and finding bugs. 
                <br>
                Support for saving shows will arrive in the next update
                <br>
                Deleting of watched items will arrive in next update as well
            </p>
        </div>
    </div>



    <h2>Popular movies</h2>
    <hr>
    <div class="row">
        <% page_data.popular.movies.forEach(function (movie, index){ %>
        <% if(index + 1 <= 12) { %>
        <div class="col-md-2 image-box">
            <a href="/movies/<%= movie.id %>">
                <img class="img-fluid image-box-hover" style="margin-bottom: 20px;" src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>"
                    alt="">
                <div class="movie-hover">
                    See more
                </div>
            </a>
        </div>
        <% } %>

        <% }); %>
    </div>

    <h2>Popular shows</h2>
    <hr>
    <div class="row">
        <% page_data.popular.shows.forEach(function (show, index){ %>
        <% if(index + 1 <= 12) { %>
        <div class="col-md-2 image-box">
            <a href="/shows/<%= show.id %>">
                <img class="img-fluid image-box-hover" style="margin-bottom: 20px;" src="https://image.tmdb.org/t/p/w500/<%= show.poster_path %>"
                    alt="">
                <div class="movie-hover">
                    See more
                </div>
            </a>
        </div>
        <% } %>

        <% }); %>
    </div>

</div>