<div class="container">
    <div class="row">

        <div class="col-md-3">
            <div id="tos-links" class="text-spacing">
                <a href="/policy/terms-of-service">Terms of Agreement</a>
                <br>
                <a href="/policy/privacy">Privacy Policy</a>
                <br>
                <a href="/policy/community">Community Policy</a>
            </div>
        </div>

        <div class="col-md-9">

            <div id="privacy" class="text-spacing">
                <h3>Privacy Policy</h3>

                <p>Last privacy policy update: 7th of August 2020</p>
                
                <p>
                    iWatched operates a personalized movie and show list service and 
                    related platform features available through the web at iwatched.xyz, 
                    on mobile devices and tablets, and through other consumer electronic devices. 
                    This policy applies to all iWatched-authorized operations of the Service. 
                    <br>We may refer to iWatched as "we", "us", or "our". 
                    <br>We may refer to you as "user", "you", or "your". 
                    <br>The purpose of this policy is to inform you about the personal information we collect, 
                    how we use and share that information, 
                    and the ways in which you can control how we use and share that information. 
                    By using our Service, you agree to the terms of this policy and 
                    you expressly consent to the collection, use, and disclosure of 
                    your personal information in accordance with this policy.
                </p>

                <h4>1. Information We Receive or Collect from You</h4>

                <p>

                </p>

                <h4>2. Information We Receive or Collect from Third Parties</h4>

                <p>

                </p>

                <h4>3. Information Collection Technologies</h4>

                <p>

                </p>

                <h4>4. How We Use Information We Receive or Collect</h4>

                <p>

                </p>

                <h4>5. How We Share Information We Receive or Collect with Others</h4>

                <p>

                </p>

                <h4>6. Managing Your Information</h4>

                <p>

                </p>

                <h4>7. Security and Content from Other Websites</h4>

                <p>

                </p>

                <h4>8. Our Policies Concerning Children</h4>
                
                <p>

                </p>

                <h4>9. Changes to our Privacy Policy</h4>

                <p>

                </p>
            </div>

        </div>
    </div>
</div>