<div class="container">
    <div class="row">

        <div class="col-md-3">
            <div id="tos-links" class="text-spacing">
                <a href="/policy/terms-of-service">Terms of Agreement</a>
                <br>
                <a href="/policy/privacy">Privacy Policy</a>
                <br>
                <a href="/policy/community">Community Policy</a>
            </div>
        </div>

        <div class="col-md-9">

            <div id="tos" class="text-spacing">
                <h3>Terms of Agreement</h3>

                <p>Last Terms of Agreement update: 7th of August 2020</p>

                <p>
                    These terms of Service ("Terms") govern your access and use of iWatched's 
                    services and product. Please read these Terms carefully and 
                    <a href="/contact">contact us</a>
                    if you have any questions. By accessing and creating an account
                    you agree to be bound by these Terms and by our <a href="/policy/privacy">Privacy Policy</a>.
                    You also confirm that you have read and agreed to our use of 
                    cookie's to manage your login state on the iWatched.
                    If you are not willing to accept the terms of this agreement,
                    you may not create a user on iWatched.
                </p>

                <h4>1. Ability to Use the Services.</h4>

                <p>
                    In order to accept this Agreement and to use the Services, 
                    you must be at least 18 years of age, or if you have parental consent, 
                    at least 13 years of age ("Minimum Age"). 
                    The Services are not intended for users under the Minimum Age. 
                    <br>You hereby affirmatively represent that:
                    <br>(a) you are at least the Minimum Age; 
                    <br>(b) you have the consent of your parent(s) to use the Services if you are under 18 years of age; 
                    <br>(c) you have all the applicable rights and authority to grant iWatched the rights granted herein; 
                    <br>(d) you have read, understood, 
                    and agree to be bound by this Agreement. If you are not at least the Minimum Age, 
                    do not have parental consent, 
                    or you do not agree to all the terms and conditions of this Agreement, 
                    you may not use the Services.
                </p>

                <h4>2. Privacy Policy.</h4>

                <p>
                    iWatched's <a href="/policy/privacy">Privacy Policy</a> explains the data 
                    we collect, use, store, and process while you use and access our Services. 
                    By using our Services, you have read, understood, and agree to 
                    the terms of our privacy policy, and you agree that we may use 
                    such data in accordance with the terms of our <a href="/policy/privacy">Privacy Policy</a>. 
                    If you have any questions regarding our <a href="/policy/privacy">Privacy Policy</a>, 
                    please contact our <a href="/contact">Support</a>.
                </p>

                <h4>3. Compliance with Community Policies.</h4>

                <p>
                    While using the Services, you agree that you will 
                    comply with our <a href="/policy/community">Community Policy</a>  
                    as we may update from time to time. We may suspend or 
                    stop providing you with access to the Services if you 
                    fail to comply with our posted policies.
                </p>

                <h4>4. Change in Terms.</h4>

                <p>
                    We may modify this Agreement from time to time. 
                    If we make material changes to the Agreement, 
                    we will notify you by email or through a message 
                    posted on the Services. You agree that such modified 
                    Agreement will be effective thirty (30) days after 
                    our notice to you, except for changes that relate to 
                    new features or for legal reasons, which will become 
                    effective immediately. Your continued use of the Services 
                    after our provision of notice to you will constitute 
                    your affirmative acceptance to the modified Agreement. 
                    If you do not agree to, or cannot comply with, 
                    the Agreement as amended, you must stop using the Services.
                </p>

                <h4>5. Communication Preferences and Consent.</h4>

                <p>
                    From time to time we may send you communications to the
                    email associaated with your account.
                    These communications may include, but are not limited to
                    information about your account, website updates, movie and show
                    reccomendations based on your account data.
                </p>

                <p>
                    You can always opt out of none important communications. 
                    <br>("The only important communications are account related information").
                </p>

                <h4>6. Explicit Content.</h4>

                <p>
                    THE SERVICES PROVIDE MANY FORMS OF ENTERTAINMENT CONTENT, 
                    SOME OF WHICH YOU MAY CONSIDER INAPPROPRIATE FOR THOSE 
                    UNDER THE AGE OF 18. THIS ENTERTAINMENT CONTENT MAY CONTAIN 
                    LYRICS, SPEECH, VISUAL IMAGES, OR OTHER MEDIA 
                    THAT INCLUDES STRONG LANGUAGE, OR DEPICTIONS OF VIOLENCE, 
                    SEX, OR SUBSTANCE ABUSE ("EXPLICIT CONTENT"). 
                    PARENTAL DISCRETION IS ADVISED FOR ALL USERS OF THE SERVICES UNDER THE AGE OF 18.
                </p>

                <h4>7. Advertising Content.</h4>

                <p>
                    The Services may present advertisements for or links to 
                    third party websites, products, and/or services 
                    ("Third Party Ads"). We are not responsible for the 
                    availability of these Third Party Ads, or the images, 
                    messages, or other materials contained therein. 
                    Neither iWatched nor any of its affiliates will be 
                    liable for any errors in content or omissions in any 
                    Third Party Ads, nor responsible for any losses or 
                    damages of any sort incurred as a result of your 
                    participation with, use of, or reliance on the Third Party Ads, 
                    including any goods, products, or services offered by such Third Party Ads.
                </p>

                <h4>8. Term and Termination.</h4>

                <p>
                    Subject to the terms of this section, this Agreement will remain in effect 
                    for as long as you use the Services. You may cancel your account and terminate 
                    this Agreement at any time and for any reason by following the instructions 
                    outlined in our <a href="/faq">FAQ</a> page. We may terminate this 
                    Agreement and your access to the Services at any time and for any reason 
                    by providing notice to the email address you provided us. 
                    Upon any termination of this Agreement, the rights and licenses granted 
                    to you hereunder, including your ability to access and use the Services, 
                    will immediately terminate, and you shall immediately cease using any 
                    and all materials and other similar content in your possession or 
                    control that are proprietary to iWatched. You agree that we will have no 
                    liability to you for any costs, losses, damages, or 
                    liabilities arising out of or related to the termination of this Agreement
                </p>

                <h4>9. Severability</h4>

                <p>
                    In the event any provisions of this Agreement are found to be contrary 
                    to any law or regulation of an administrative or governmental agency 
                    or body, such provision will be modified and interpreted to accomplish 
                    the objectives of such provision to the greatest extent possible under 
                    applicable law, and the remaining provisions will continue in full force 
                    and effect. In the event such a provision cannot be modified and becomes 
                    invalidated or unenforceable, its invalidation or unenforceability will 
                    not affect the validity or enforceability of any other provision of this Agreement.
                </p>

                <h4>10. Entire Agreement.</h4>

                <p>
                    This Agreement constitutes the complete and exclusive agreement 
                    between you and iWatched with respect to the subject matter hereof, 
                    and supersedes all prior or contemporaneous oral or written communications, 
                    proposals, representations, understandings, or agreements not 
                    specifically incorporated herein.
                </p>
            </div>
        </div>

    </div>
</div>