<div class="container">
    <div class="row">

        <div class="col-md-3">
            <div id="tos-links" class="text-spacing">
                <a href="/policy/terms-of-service">Terms of Agreement</a>
                <br>
                <a href="/policy/privacy">Privacy Policy</a>
                <br>
                <a href="/policy/community">Community Policy</a>
            </div>
        </div>

        <div class="col-md-9">

            <div id="community" class="text-spacing">
                <h3>Community Policy</h3>

                <p>Last community policy update: 7th of August 2020</p>

                <p>
                    Thanks for your interest and participation in iWatched community.
                    iWatched believes it paramount users each have a 
                    positive experience when engaged with our Services. 
                    Our policies, including this Community and Content Policy, 
                    are integral in maintaining this positive experience. 
                    Please review and follow these policies when using our Services. 
                    When we are notified of a potential policy violation, 
                    we may review and take action, including removing content, 
                    or limiting or terminating a user's access to our Services or its features.
                </p>

                <h4>Advertising / Offers for sale</h4>

                <p>
                    Commercial messaging is prohibited on iWatched. 
                    Do not promote personal brands, music or businesses, 
                    products or services. Do not offer or request items for sale.
                </p>
                
                <h4>Spam</h4>

                <p>
                    Do not use the Services or its features to spam others. 
                    The term "spam" includes, but is not limited to, sending 
                    or posting multiple messages or reviews within a short timeframe; 
                    sending repetitive or duplicative content within a short timeframe; 
                    posting unwanted promotional or commercial content; 
                    and posting false or misleading content.
                </p>

                <h4>Phishing and Malicious Content</h4>

                <p>
                    You may not post, link to, or distribute content that is 
                    intended to damage or disrupt another's computer or 
                    consumer electronic device, or to compromise 
                    another user's privacy or account security.
                </p>

                <h4>Impersonation</h4>

                <p>
                    You may not use the Services or its features to 
                    impersonate others in a manner that does or is 
                    intended to confuse, mislead, or deceive other users of the Services. 
                </p>
                
                <h4>Sexually Explicit and Pornographic Materials</h4>

                <p>
                    Do not post or distribute messages or other content 
                    that contains nudity, sexual acts, or sexually 
                    explicit materials. Do not post links to 
                    pornographic sites or sites that contain pornography.
                </p>
                
                <h4>Hate Speech</h4>

                <p>
                    Do not post or distribute messages or other content 
                    that promotes hatred or violence toward groups of 
                    people based on their race, ethnicity, religion, 
                    disability, gender, age, marital status, veteran status, 
                    sexual orientation, or gender identity.
                </p>
                
                <h4>False & Misleading Content</h4>

                <p>
                    Do not post or distribute content on the Services or 
                    through its features that is intentionally false 
                    or is intended to mislead or deceive others.
                </p>

                <h4>Intellectual Property Rights and Rights of Publicity</h4>

                <p>
                    iWatched respects the intellectual property rights 
                    (e.g., copyright, trademark, etc.) of others and 
                    we ask that you do the same. Please do not post 
                    or distribute content that violates the 
                    intellectual property rights or rights of 
                    publicity of others.
                </p>

                <h4>Harassment and Bullying</h4>

                <p>
                    Do not use the Services or its features to promote or 
                    engage in violence, the harming of others, self-harm, 
                    or other types of illegal activities. 
                    Do not harass or bully others. 
                    Users who harass or bully other iWatched users will 
                    have their content removed and their accounts terminated.
                </p>

                <h4>Private Information</h4>

                <p>
                    Do not post or distribute your or other people's personal 
                    or confidential information, such as passwords, addresses, 
                    telephone numbers, or financial information without their consent.
                </p>

                <h4>Changes to Policy</h4>

                <p>
                    We may make changes to this policy from time to time. 
                    In the event we do make changes, your continued use of the 
                    Services constitutes your acceptance of these changes.
                </p>

                <h4>Reporting Violations</h4>

                <p>
                    Please report any violations to our User Support team, 
                    the Community team, or use the "Report Inappropriate Content" feature.
                </p>
            </div>
        </div>

    </div>
</div>