<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Includees head and styles -->
    <% include .././partials/standard/head %>
</head>

<body>
    <header class="container">
        <!-- Includes Header and Nav bar -->
        <% include .././partials/standard/header %>
    </header>

    <main class="container">
        <div class="profile_wrap">
            <h1 class="text-center"><%= title %></h1>
            <div class="container">
                <% if(page != "settings"){ %>
                    <% include .././partials/profile/watched_navbar %>
                <% } %>
            
                <% if(page == "main"){ %>
                    <% include .././partials/profile/main %>
                
                <% } else if (page == "favourites"){ %>  
                    <% include .././partials/profile/favourites %>
                
                <% } else if (page == "movies"){ %>  
                    <% include .././partials/profile/movies %>

                <% } else if (page == "shows"){ %>  
                    <% include .././partials/profile/shows %>

                <% } else if (page == "reviews"){ %>  
                    <% include .././partials/profile/reviews %>

                <% } else if (page == "settings"){ %>  
                    <% include .././partials/profile/settings %>
                
                <% } %>
            </div>
        </div>
    </main>

    <footer class="container">
        <!-- Includes Footer -->
        <% include .././partials/standard/footer %>
    </footer>
</body>
<!-- Includees all scripts -->
<% include .././partials/standard/scripts %>

</html>