<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Includees head and styles -->
    <% include .././partials/standard/head %>
</head>

<body>
    <header class="container">
        <!-- Includes Header and Nav bar -->
        <% include .././partials/standard/header %>
    </header>

    <main class="container">
        <h1 class="text-center">Profile Page</h1>

        <div class="dropdown-divider"></div>

        <div id="profile_section">
            <div class="row">
                <div class="col-md-6">
                    <div class="well">
                        <h3>Local</h3>
                        <p>
                            <strong>id</strong>:<%= user._id %>
                        <br>
                            <strong>username</strong>:<%= user.local.username %>
                        <br>
                            <strong>email</strong>:<%= user.local.email %>
                        </p>
                    </div>
                </div>

                <div class="col-md-6">

                    <% if(user.local.newsletter == false){ %>
                        
                        <form method="POST" action="/newsletter/subscribe">
                            <h2>Newsletter</h2>
                            <p>Subscribe to our monthly newsletter where we will talk about new features and updates on the site.</p>
                            <input type="submit" value="Subscribe">
                        </form>
                    <% } else if (user.local.newsletter == true){ %>  
                        <form method="POST" action="/newsletter/unsubscribe">
                            <h2>Newsletter</h2>
                            <p>Cancel your subscription to our monthly newsletter</p>
                            <input type="submit" value="Unsubscribe">
                        </form>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="dropdown-divider"></div>

    </main>

    <footer class="container">
        <!-- Includes Footer -->
        <% include .././partials/standard/footer %>
    </footer>
</body>
<!-- Includees all scripts -->
<% include .././partials/standard/scripts %>

</html>