<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Includees head and styles -->
    <% include .././partials/standard/head %>
</head>

<body>
    <header class="container">
        <!-- Includes Header and Nav bar -->
        <% include .././partials/standard/header %>
    </header>

    <main class="container">
        <div class="profile_wrap">
            <h1 class="text-center"><%= title %></h1>
            <div class="container">
                <% include .././partials/visit/watched_navbar %>

                    <p>Profile: <%= userData.local.username %></p>
            </div>
        </div>
    </main>

    <footer class="container">
        <!-- Includes Footer -->
        <% include .././partials/standard/footer %>
    </footer>
</body>
<!-- Includees all scripts -->
<% include .././partials/standard/scripts %>

</html>